@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-colors duration-200;
}

svg path {
  @apply transition-colors duration-200;
}

header {
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

svg:focus {
  outline: none;
}
