@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: theme("colors.black");
  --background-start-rgb: theme("colors.white");
  --background-end-rgb: theme("colors.light");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: theme("colors.white");
    --background-start-rgb: theme("colors.black");
    --background-end-rgb: theme("colors.dark");
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
